* {
    background: lightseagreen;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 40px;
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

img {
    width: 400px;
    height: auto;
}

.navi {
    margin-top: 60px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

a:hover {
    color: red;
    text-decoration: underline;
}